[submodule "abacataria"]
	path = abacataria
	url = https://github.com/Duduzcx/abacatyC:/Users/eduar/OneDrive/Desktop/Eu/Apps/Programação/zcxx/abacataria
[submodule "abacaty"]
	path = abacaty
	url = https://github.com/Duduzcx/abacaty
